/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.player-container{
  position: relative;
  height: 425px;
  width: 350px;
  background-color: #dfdfdf;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
}

.img-container {
  height: 250px;
  width: 250px;
  position: relative;
  top: -30px;
  left: 50px;
}

.img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.9);
}


h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  position: relative;
  top: -4%;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -27px;
  left: 100px;
  width: 200px;
}

.fas {
  cursor: pointer;
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  user-select: none;
}

.fas:hover{
  filter: brightness(0.3);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {

  .player-container{
    top: 110px;
  }

  .img-container {
    left: 50px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -17px;
    left: 100px;
  }
}
